*{
	margin: 0;
	padding: 0;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
	scroll-behavior: smooth;
}

h1{
	padding: 10%;
	color: white;
	text-align: center;
}
.totalError{

	border-color: coral;
	font-size: 20px;
	margin-top: 0;
	display: block;
	text-shadow: 0 0 10px gold,0 0 20px firebrick,0 0 40px pink,0 0 80px red;;
	filter: saturate(60%);
	color: white;
	cursor: pointer;
 }	
.container {
	height: 100vh;
	position: relative;

}
.center {
	margin: 0;
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

}
.start-btn{
	position: absolute;
   bottom: 5%;
	left: 45%;
}

body{
	background-color: black;
}


#c {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: -1;
}
*[data-diagram] {
	display: inline-block;
	width: 10em;
	height: 10em;
}
.left {
	float:right;
	margin-right: 5%;
	max-width: 80%;
	font-size: xxx-large;

}
.right {
	float:left;
	margin-right: 5%;
	max-width: 80%;
	font-size: xxx-large;
}
p {
	margin: 1em auto;
	max-width: 80%;
	font-size: xx-large;
	color: white;
}

.pos{

	position: fixed;
	top: 15%;
	left: 2%;
	/* font-size: 20px; */
	color: white;
 }
