<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.ico') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tutorial</title>
    <!-- <link rel="stylesheet" href="static/style.css"> -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>


  </body>
</html>

<!--

.getSize ( target : Vector2 ) : Vector2
target — the result will be copied into this Vector2.

Returns the width and height of the renderer's output canvas, in pixels.
for mouse tracking


https://threejs.org/examples/misc_controls_drag.html try to copy pointer
-->